//
// Variables
// --------------------------------------------------

//
// Colors
//
$white:          #ffffff;
$black:          #333;
$gray:           #ccc;
$primary-color:  #ec5252;
$secondary-color:#BC2222;
$border-color:   #ddd;




// Fonts Primary
$font-primary: 'Roboto', sans-serif;


// Font Secondary
$font-secondary: 'Roboto Slab', serif;
