//
// Variables
// --------------------------------------------------

//
// Colors
//
$white:       #ffffff;
$black:       #000000;
$gray:        #ddd;




// Fonts Primary
$font-primary: 'Roboto', sans-serif;


// Font Secondary
$font-secondary: 'Roboto Slab', serif;
