//
// Header
// --------------------------------------------------


.header-top {
  background-color: $black;
  padding: 8px 0;
}

.need-help {
  padding-top: 5px;

  li {
    display: inline;
    color: $white;
    font-size: 14px;
    padding-right: 15px;

    a {
      display: inline-block;
      color: $white;
    }

    i {
      padding-right: 3px;
    }
  }
}

.offer {
  marquee {
    color: #fff;
    font-size: 14px;
    padding-top: 7px;
  }
}

.social-area {
  text-align: right;
  margin-top: 6px;
  margin-right: 15px;
  li {
    display: inline;
    padding-left: 15px;
    a {
      color: $white;
      font-size: 14px;
      padding: 5px;
    }
    i{ 
      color: #ec5252;
      font-size: 20px; 
    }
  }
}




.header-bottom {
  background: $white;
  padding: 15px 0;
  transition: all 0.3s;
}

.header-logo {
  img {
    max-width: 230px;
  }

  a {
    display: inline-block;
  }
}

.header-menu {
  padding-top: 12px;

  li {
    display: inline;
    position: relative;

    &:hover {
      .all-courses {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s;
      }
    }

    a {
      display: inline-block;
      font-size: 14px;
      color: $black;
      font-weight: 400;
      padding: 10px;
      text-transform: uppercase;
      
    }
  }
}

.all-courses {
  width: 400px;
  position: absolute;
  z-index: 999;
  background-color: $white;
  top: 60px;
  border: 1px solid $border-color;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;

  li {
    display: block;
  }
}

.menu-search {
  width: 100%;
  display: inline-block;
  border: 1px solid $border-color;
  border-radius: 50px;
  margin-top: 9px;

  input[type="text"] {
    width: 90%;
    padding: 10px;
    border: none;
    float: left;
    outline: none;
    border-radius: 50px;
  }
  input[type="submit"] {
    width: 10%;
    float: left;
    border: none;
    background-image: url(assets/img/icon/search-solid.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding-top: 19px;
  }
}

.profile-area {
  text-align: right;
  padding-top: 5px;

  li {
    position: relative;
    display: inline;

    a {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      color: $black;
      padding: 8px 10px;
      img {
        width: 40px;
        border-radius: 50px;
        margin-top: -1px;
      }
      span {
        background: red;
        width: 18px;
        height: 18px;
        position: absolute;
        border-radius: 30px;
        display: inline-block;
        color: #fff;
        text-align: center;
        top: -10px;
        padding-top: 3px;
        font-size: 12px;
        left: 14px;
      }
    }
  }
}

.profile-info {
  width: 250px;
  position: absolute;
  top: 60px;
  right: 0;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  z-index: 99999;
  transition: all 0.3s;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 4px;

  li {

    a {
      padding-bottom: 5px;
      display: block;
    }
  }
}

.profile-area li:hover .profile-info {
 visibility: visible;
 opacity: 1;
}

.sticky_menu {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 999;
  top: 0;
  transition: all 0.5s;
  border-bottom: 1px solid #ddd;
  padding: 3px 0;
}

.notifi-area {
  text-align: left;
  padding: 5px 0;
  width: 300px;
  position: absolute;
  top: 60px;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 99999;
  transition: all 0.3s;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 4px;

  table {
    td {
      padding: 0;
    }
  }

  h4 {
    @include sub-sub-title;
    text-transform: capitalize;
    padding: 0 0 10px 5px;
  }

  p {
    width: 100%;
    display: inline-block;

    a {
      padding: 0;
      float: left;
      width: 90%;
    }
    span {
      float: right;
      width: 10%;
    }
  }

  .all-notific {
    text-align: center;

    button {
      color: $white;
      background-color: $primary-color;
      text-transform: capitalize;
    }
  }
}

.profile-area li:hover .notifi-area {
  visibility: visible;
  opacity: 1;
}

.wishlists {
  text-align: left;
  border: 1px solid rgba(0,0,0,.125);
  width: 360px;
  background-color: $white;
  border-radius: 4px;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;

  .card {
    padding: 10px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
  }

  h5 {
    font-family: $font-primary;
    font-size: 14px;
  }

  p {
    font-size: 12px;
    font-weight: 500;
  }

  .enroll-btn {
    a {
      display: block;
    }
  }

  .go-wishlist {
    padding: 10px;
  }

  .go-cart {
    padding: 10px;
  }
}

.profile-area li:hover .wishlists {
  visibility: visible;
  opacity: 1;
}

