.hero-area {
  background-image: url(assets/img/bg/hero-home-bg.jpg);
  background-size: cover;
  position: relative;
  z-index: 9;
  text-align: center;
  padding: 120px 0;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
}

.hero {
  h1 {
    color: $white;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    color: $white;
  }
}

.search-area {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
  padding-top: 50px;
  
  input[type="text"] {
    width: 89%;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    float: left;
    outline: none;
  }

  input[type="submit"] {
    width: 10%;
    float: left;
    border-radius: 0 4px 4px 0;
    height: 44px;
    border: none;
    background-image: url(assets/img/icon/search-solid.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  // Responsive Style
  @media (max-width: 767px) {
    width: 100%;

    input[type="text"] {
      width: 85%;
    }
    input[type="submit"] {
      width: 15%;
    }
  }

  // Responsive Style
  @media (min-width: 768px) and (max-width: 1100px) {
    width: 60%;
  }
}

.banner-btm {
  padding-top: 50px;

  li {
    display: inline;
    padding-right: 50px;

    i {
      color: $white;
    }

    a {
      color: $white;
      font-size: 16px;
      padding-left: 5px;
    }
  }

  // Responsive Style
  @media (max-width: 767px) {
    li {
      display: block;
      padding-right: 0;
    }
  }
}

.category-slider {
  margin: 50px 0 80px;

  .owl-nav {
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    span {
      font-size: 30px;
      color: $white;
    }
  }
  .owl-prev {
    position: absolute;
    top: 0;
    left: 0%;
    width: 30px;
    height: 100%;
    z-index: 9999;
    background: #ec5252a6 !important;
  }
  .owl-next {
    position: absolute;
    top: 0;
    right: 0%;
    width: 30px;
    height: 100%;
    z-index: 9999;
    background: #ec5252a6 !important;
  }
}

.cate-title {
  border-bottom: 1px solid $border-color;
  padding-bottom: 40px;
  margin-bottom: 50px;

  h2 {
    @include title;
    text-transform: capitalize;
  }

  // Responsive Style
  @media (max-width: 767px) {
    h2 {
      font-size: 24px;
    }
  }
}

.cate-slider:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.course-cat {
  position: relative;
}
.cat-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.5s;

    &:hover {
      color: $primary-color;
    }
  }
}


.course-title {
  padding-bottom: 20px;
  border-bottom: 1px solid $gray;
  margin-bottom: 30px;

  h2 {
   @include title;
    text-transform: uppercase;
  }

  // Responsive Style
  @media (max-width: 767px) {
    h2 {
      font-size: 24px;
    }
  }
}

.popular-course {
  border: 1px solid $gray;
}
.course-img {
  position: relative;
  transition: all 0.5s;

  &:hover .course-img-hover a {
    opacity: 1;
    visibility: visible;
  }
}
.course-img-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

  a {
    color: $white;
    background-color: $primary-color;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
}
.course-content {
  text-align: center;
  padding: 10px 30px 0 30px;

  img {
    width: 50px !important;
    border-radius: 50px;
    margin: 0 auto;
  }
  .teacher {
    display: block;
    color: $primary-color;
    margin: 5px 0;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .course-name {
    font-size: 18px;
    color: $primary-color;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid $border-color;
    padding-bottom: 30px;
    transition: all 0.3s;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

.course-footer {
  padding: 20px 30px 10px;
  overflow: hidden;
  
  .cf-left {
    float: left;
    width: 50%;

    li {
      display: inline;
      padding-right: 10px;
      color: $primary-color;
    }
  }
  .course-price {
    float: left;
    width: 50%;
    text-align: right;

    h5 {
      color: $primary-color;
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 500;
    }

    p {
      color: $primary-color;
    }
    del {
      padding-right: 5px;
    }
  }
}
.popular-slider {
  .owl-nav {
    position: absolute;
    top: -71px;
    right: 0;

    span {
      text-align: center;
      line-height: 30px;
      padding: 0 15px;
      font-size: 30px;
      font-weight: 400;
      color: $white;
    }
  }
  .owl-next {
    background-color: $primary-color !important;
    width: 40px;
    height: 40px;
  }
  .owl-prev {
    background-color: $primary-color !important;
    margin-right: 12px;
    width: 40px;
    height: 40px;
  }
}
.all-pcourse {
  margin-top: -50px;
  text-align: right;
  width: 100%;

  a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid $border-color;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 20px;
  }
}

.popular-courses {
  padding: 70px 0;
}


.counter-area {
  background-image: url(assets/img/bg/hero-home-bg.jpg);
  padding: 100px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
}

.counter-content {
  text-align: center;
  padding-bottom: 30px;

  h3 {
    @include main-title;
    padding: 10px 0;
    color: $white
  }

  h4 {
    @include sub-sub-title;
    color: $white;
  }
}

.counter-icon {
  width: 60px;
  height: 60px;
  border: 1px solid $white;
  border-radius: 50px;
  padding-top: 15px;
  margin: 0 auto;

  i {
    font-size: 30px;
    color: $white;
  }
}



