// 
// Single Page
// ===================


.single-page {

    .course-hero {
        background-color: #222;
        padding: 50px 0;
    }

    .courses-includes-outer {
        position: relative;
    }

    .courses-includes {
        position: absolute;
        width: 100%;
        top:53px;
        right: 0;
    }

    .title-course {
        padding-right: 50px;

        h1 {
            @include main-title;
            color: $gray;
            padding-bottom: 20px;
        }

        p {
            @include paragraph;
            color: $gray;
            font-size: 18px;
            padding-bottom: 20px;
        }

        .enroll-btn {
            @include primary-btn;
            border-width: 4px;
        }

        // Responsive Style
        @media (min-width: 768px) and (max-width: 1100px) {
            padding-right: 5px;

            h1 {
                font-size: 30px;
            }
        }
    }

    .ratings-icon, .creator {
        li {
            display: inline;
            color: $gray;
            font-size: 14px;
            padding-right: 20px;
        }
    }

    .ratings-icon {
        i {
            margin-right: -3px;
        }

        span {
            padding-left: 5px;
        }
    }

    .creator {
        padding-top: 10px;

        li {
            a {
                color: $gray;
                &:hover {
                    text-decoration: underline !important;
                }
            }
            i {
                padding-right: 3px;
            }
        }
    }

    .wishlists {
        width: 25%;
        margin-bottom: 20px;
        margin-left: 75%;
        text-align: right;

        .after-hover {
            display: none;
            color: $gray;
            font-size: 18px;
        }

        .before-hover {
            color: $gray;
            font-size: 18px;
        }
    }

    .wishlists:hover .after-hover {
        display: block;
    }

    .wishlists:hover .before-hover {
        display: none;
    }

    .intro-video {
        margin-bottom: 30px;

        iframe {
            width: 100%;
            height: 260px;
        }
    }

    .course-details {
        padding: 20px;
    }

    .courses-price {
        p {
            font-size: 40px;
            font-weight: 700;
            color: $primary-color;
            del {
                font-size: 24px;
            }
        }

        a {
            @include primary-btn;
            display: block;
            margin: 20px 0;
            border-width: 4px;
            font-size: 20px;
        }
        span{
            font-size: 20px;
            line-height: 2.5;
            vertical-align: text-bottom;
        }
    }

    .course-include {
        h3 {
            @include sub-title;
            padding-bottom: 20px;
        }

        ul li {
            padding-bottom: 3px;
            font-size: 15px;
            i {
                width: 18px;
            }
        }
    }

    .shares {
        text-align: center;
        padding-top: 20px;
        border-top: 1px solid $gray;
        margin-top: 30px;

        a {
            text-transform: capitalize;
            font-weight: 500;
            color: $primary-color;
        }
    }

    .all-contents {
        .main-title {
            @include title;
            text-transform: capitalize;
            padding: 50px 0 20px;
            border-bottom: 1px solid $border-color;
            margin-bottom: 30px;
        }

        .duratoions {
            padding-bottom: 10px;

            li {
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .course-accordion {
        padding-bottom: 50px;

        .accordion-body {
            padding: 30px 20px;
            li {
                @include paragraph;
                line-height: 1.7;
            }
        }
    }

    .accordion-item {
        h3 {
            @include sub-sub-title;
            font-size: 16px;
            padding: 5px 0;
        }
    }

    .requirements {
        padding-bottom: 30px;

        h2 {
            @include sub-title;
            padding-bottom: 30px;
            border-bottom: 1px solid $border-color;
            margin-bottom: 25px;
        }
    }

    .descriptions {
        padding-bottom: 30px;

        h2 {
            @include sub-title;
            padding-bottom: 20px;
        }

        h3 {
            @include sub-title;
            padding-bottom: 25px;
            border-bottom: 1px solid $border-color;
            margin-bottom: 25px;
        }
    }

    .whos-course {
        padding-bottom: 30px;

        h2 {
            @include sub-title;
            padding-bottom: 25px;
            border-bottom: 1px solid $border-color;
            margin-bottom: 25px;
        }
    }

    .similar-courses {
        padding-bottom: 50px;

        .similar-title {
            border-bottom: 1px solid $border-color;
            margin-bottom: 30px;
            padding-bottom: 25px;
            
            h2 {
                @include sub-title;
            }
        }
    }

    

    .similar-slider {
        .owl-nav {
            position: absolute;
            top: -71px;
            right: 0;
        
            span {
            text-align: center;
            padding: 0 15px;
            font-size: 30px;
            line-height: 30px;
            font-weight: 400;
            color: $white;
            }
        }
        .owl-next {
            background-color: $primary-color !important;
            width: 40px;
            height: 40px;
        }
        .owl-prev {
            background-color: $primary-color !important;
            margin-right: 12px;
            width: 40px;
            height: 40px;
        }
    }

    .rating-instructors {
        margin-top: 485px;
    }

    .about-instructor {
        padding: 20px;
        margin-bottom: 50px;
        text-align: center;

        h3 {
            @include title;
            border-bottom: 1px solid $border-color;
            margin-bottom: 25px;
            padding-bottom: 22px;
        }

        h4 {
            @include sub-sub-title;
            padding-bottom: 7px;
            font-size: 18px;
            padding-top: 10px;
        }

        img {
            border-radius: 100%;
            width: 200px;
            height: 200px;
            // Responsive Style
            @media (min-width: 768px) and (max-width: 1100px) {
               width: 170px;
               height: 170px;
            }
        }

        .ins-social {
            padding: 15px 0;
            li {
                display: inline;

                a {
                    display: inline-block;
                    padding-top: 5px;
                    width: 35px;
                    height: 35px;
                    border: 2px solid $primary-color; 
                    text-align: center;
                    border-radius: 50px;
                    margin: 0 2px;
                    font-size: 16px;
                    color: $primary-color;
                    transition: all 0.5s;
                    &:hover {
                        background-color: $primary-color;
                        color: $white;
                    }

                    @media (min-width: 768px) and (max-width: 1100px) {
                        width: 30px;
                        height: 30px;
                        padding-top: 3px;
                        margin: 0;
                    }
                }
            }
        }

        .view-btn {
           @include primary-btn;
        }

        p {
            margin-bottom: 10px;
            font-size: 15px;
        }
    }

    .student-feedback {
        h3 {
            @include sub-title;
            padding-bottom: 10px;
            width: 58%;
            float: left;
        }
    }

    .course-rating {
        float: left;
        text-align: right;
        width: 42%;

        li {
            i {
                font-size: 14px;
                margin-right: -3px;
            }
            span {
                padding-left: 3px;
            }
        }
    }

    .commentor-img {
        float: left;
        width: 15%;

        img {
            width: 45px;
            border-radius: 50px;
            height: 45px;
        }

        // Responsive Style
        @media (min-width: 768px) and (max-width: 1100px) {
            width: 100%;
        }
    }

    .commentor-text {
        width: 85%;
        float: left;

        h4 {
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 500;
        }

        li {
            font-size: 14px;
            i {
                margin-right: -3px;
            }
        }

        p {
            font-size: 14px;
        }

        // Responsive Style
        @media (min-width: 768px) and (max-width: 1100px) {
            width: 100%;
        }
    }

    .student-feedback {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid $border-color;
        margin-bottom: 30px;
        padding-bottom: 15px;
    }

    .comment-show {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }

    .comments-list {
        width: 100%;
        overflow: scroll;
        height: 740px;
        padding: 30px 20px;
        overflow-x: hidden;
    }




    // Responsive Style
    // max-width: 767px;
        @media (max-width: 767px) {
        .title-course {
            padding-right: 0;
            text-align: center;
            h1 {
                font-size: 24px;
                text-align: center;
            }
            p {
                text-align: center;
            }
        } 
        .ratings-icon li, .creator li {
            display: block;
        }
        .course-accordion {
            margin-top: 516px;
            padding-bottom: 20px;
        }  
        
        .courses-includes {  
            top: 75px; 
        }
        .course-include h3 {
            text-align: center;
        }

        .requirements {
            h2 {
                text-align: center;
            } 
            ul {
                padding-left: 35px;
            }
        }
        .descriptions {
            text-align: center;
        }

        .whos-course {
            h2 {
                 text-align: center;
            }
            ul {
                 padding-left: 20px;
            }
        }
        .rating-instructors {
            margin-top: 10px;
        }
        .courses-price p {
            font-size: 30px; 
        }
    }
}

.single-page .comments-list::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
    
.single-page .comments-list::-webkit-scrollbar-track {
    background:#eee;        /* color of the tracking area */
}

.single-page .comments-list::-webkit-scrollbar-thumb {
    background-color: #bbb;    /* color of the scroll thumb */
    border-radius: 50px;    
}


.contact-us {
    background-color: $black;
    padding: 50px 0;
}

.contacts {
    padding-top: 8px;

    i {
        border: 3px solid;
        width: 30px;
        height: 30px;
        font-size: 16px;
        text-align: center;
        padding-top: 4px;
        border-radius: 4px;
        vertical-align: text-top;
        margin-right: 3px;
    }

    li a {
        font-size: 24px;
        display: inline-block;
        padding-bottom: 5px;
        color: $white;
        transition: all 0.5s;

        &:hover {
            color: $primary-color;
        }
    }

    // Responsive Style
    // max-width: 767px;
    @media (max-width: 767px) { 
       a {
        font-size: 18px !important;
       } 
    }
}

.contacts-enroll {
    text-align: right;

    .enroll-btn {
        @include primary-btn;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        display: block;
        
        // Responsive Style
        // max-width: 767px;
        @media (max-width: 767px) { 
            margin-top: 40px;
        }
    }
}

.text-bold{
    font-weight: 600;
}